<%= stylesheet_link_tag 'users', :media => "all" %>

<section id="third-block">
  <h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <h4>メールアドレス</h4>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <h4>パスワード</h4>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
      <div class="field remember-me">
        <%= f.check_box :remember_me, id: "remember_me" %>
        <label for="remember_me">ログイン情報を保存する</label>
      </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "login-button" %>
  </div>
    <% end %>

  <div class="extra-links">
    <%= link_to "パスワードを忘れた方", new_password_path(resource_name), class: "forgot-password" %>
  </div>

  <div class="actions">
    <%= link_to "新規登録", new_registration_path(resource_name), class: "register-button" %>
  </div>
</section>