<div class='container'>
  <p class="title">投稿を編集する</p>
  <%= form_for @tweet do |f| %>

  <div class="field">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "input-field" %>
    </div>

  <div class="field">
    <%= f.label :overall, "総合評価", class: "label-title" %>
  </div>
  <div class="post_form">
    <%= f.radio_button :overall, 5 ,id: 'star1'%>
    <label for="star1"><span class="text">最高</span>★</label>

    <%= f.radio_button :overall, 4 ,id: 'star2'%>
    <label for="star2"><span class="text">良い</span>★</label>

    <%= f.radio_button :overall, 3 ,id: 'star3'%>
    <label for="star3"><span class="text">普通</span>★</label>

    <%= f.radio_button :overall, 2 ,id: 'star4'%>
    <label for="star4"><span class="text">悪い</span>★</label>

    <%= f.radio_button :overall, 1 ,id: 'star5'%>
    <label for="star5"><span class="text">最悪</span>★</label>
  </div>

  <div class='form-group'>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class='form-check'>
              <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
              <% end %>
          </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :title, "テキストを追加" %>
      <%= f.text_area :body, class: "textarea-field" %>
    </div>

    <%= f.submit "編集する", class: "btn-submit" %>
  <% end %>
</div>