<%= stylesheet_link_tag 'index', :media => "all" %>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

<h3>投稿を検索</h3>
<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索する'  %>
<% end %>
<%= link_to "新規投稿へ", new_tweet_path %>
<%= page_entries_info @tweets %>
<%= paginate @tweets, params: { search: params[:search], tag_ids: params[:tag_ids] } %>
<div class="tweets-container">
  <% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<h3>Tweet一覧</h3>
  <% @tweets.each do |t| %>
    <div class="tweet">
      <div class="main-box">
        <div class="left-container"><%= t.body %></div>
        <div class="right-container">
          <%= link_to "詳細", tweet_path(t.id) %>
          <%= link_to "編集", edit_tweet_path(t.id) %>
          <%= link_to "削除", tweet_path(t.id), method: :delete %>
        </div>
      </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>

<% if t.user.present? && t.user.id.present? %>
  <%= link_to (t.user.name.presence || "名無しユーザー"), polymorphic_path(t.user) %>
<% else %>
  <p>ユーザー情報がありません</p>
<% end %>
  <%= t.user.email %>
      <%= t.body %>
      <%= render 'tweet', tweet: t %> 
      
      <%= t.created_at %>
      <div>
        <h2>総合評価：
        <span class="star-rating">
        <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
        <span class="star-rating-back">★★★★★</span>
        </span> 
        </h2>
      </div>
      
      <% if user_signed_in? && current_user.id == t.user_id %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
      <%= link_to "削除する", tweet_path(t.id), method: :delete %>
    <% end %>
    <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
    <%= submit_tag '検索' %>
    
<% end %>

    </div>

