<%= stylesheet_link_tag 'users', media: "all" %>
<body>
  <main>
    <h2><i class="fa-solid fa-circle-user"></i>&nbsp;マイページ</h2>
    <section class="user-info">
      <h3>ユーザー情報</h3>
      <div class="user-details">
        <p>名前 : <%= @user.name %></p>
        <p>メールアドレス : <%= @user.email %></p>
        <p>プロフィール : <%= @user.profile %></p>
      </div>
      <div class="edit-link">
        <%= link_to edit_user_registration_path, class: "edit-btn" do %>
          <i class="fas fa-edit"></i> 編集する
        <% end %>
      </div>
    </section>

<% if current_user.id == @user.id %>
<% end %>

    <section class="bookmarks">
      <h3>ブックマークした作品</h3>
      <% if @user.bookmark_tweets.any? %>
        <% @user.bookmark_tweets.each do |tweet| %>
          <%= render 'tweets/tweet', tweet: tweet, show_title: true %>
        <% end %>
      <% else %>
        <p>まだブックマークしたツイートはありません。</p>
      <% end %>
    </section>

    <section class="posts">
      <h3>過去の投稿</h3>
      <div class="postbox">
        <% @user.tweets.each do |t| %>
          <div class="postbox-item">
            <p class="post-title"><%= t.title %></p>
          </div>
        <% end %>
      </div>
    </section>

    <%= link_to "投稿一覧に戻る", tweets_path, class: "back-link" %>

  </main>
</body>
