<%= stylesheet_link_tag 'users', media: "all" %>
<h2><%= resource_name.to_s.humanize %>を編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

<div class="field">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  
<div class="field">
    <%= f.label :profile, "プロフィール" %><br />
    <%= f.text_area :profile, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "変更後のパスワード" %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>最低<%= @minimum_password_length %> 文字</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "変更後のパスワード（確認）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "現在のパスワード" %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する", class: "update-button" %>
  </div>
<% end %>


<div class="button-container">
<%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "delete-button" %>

<%= link_to "マイページに戻る", :back %>
</div>